<a href="https://colab.research.google.com/github/nitaisutradhar/SM-A-4/blob/main/Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Import Necessary Libraries

In [ ]:
import numpy as np

# Create a NumPy array with 20 random integers between 1 and 100

In [ ]:
arr = np.random.randint(1,101,20)

# Display the NumPy array

In [ ]:
print("Array: ", arr)

Array:  [ 8 75 74 74 80 87  4 65 76 74 52 73 23 78 77 21 50 18 32 84]

# 1. Find the sum of all elements

In [ ]:
total_sum = np.sum(arr)
print("Sum of elements", total_sum)

Sum of elements 1125

# 2. Find the maximum and minimum values in the array

In [ ]:
max_value = np.max(arr)
min_value = np.min(arr)

print("Maximum value: ", max_value)
print("Minimum Value: ", min_value)

Maximum value:  87
Minimum Value:  4

# 3. Perform element-wise multiplication with another array of size 20

In [ ]:
arr2 = np.random.randint(1,101,20)
print(" Second Array: ", arr2)

result = arr * arr2
print(" Element wise multiplication result : ", result)

 Second Array:  [38 17 96 92 49 77 37  6 14 93 67 88 24 79 60 83 43 22 47 67]
 Element wise multiplication result :  [ 304 1275 7104 6808 3920 6699  148  390 1064 6882 3484 6424  552 6162
 4620 1743 2150  396 1504 5628]

# Import necessary libraries

In [1]:

import pandas as pd
import numpy as np

# 1. Create a DataFrame with 5 rows and 3 columns of random numbers
# The DataFrame is generated from a 5x3 matrix of random integers between 1 and 100.

In [3]:
df = pd.DataFrame(np.random.randint(1, 101, size=(5, 3)), columns=['A', 'B', 'C'])

# Display the DataFrame

In [4]:
print("DataFrame:\n", df)

DataFrame:
     A   B   C
0  12  27  29
1  22  33  86
2  85   4  99
3  51  68  79
4  21  45  39

# 2. Compute the sum of each column
# The .sum() function computes the sum for each column in the DataFrame.

In [5]:

column_sum = df.sum()
print("\nSum of each column:\n", column_sum)

Sum of each column:
 A    191
B    177
C    332
dtype: int64

# 3. Compute the mean of each column
# The .mean() function computes the mean (average) of each column in the DataFrame.

In [6]:

column_mean = df.mean()
print("\nMean of each column:\n", column_mean)

Mean of each column:
 A    38.2
B    35.4
C    66.4
dtype: float64